<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login main</title>
    <script src="/js/home/login.js" defer></script>
</head>
<body>
    <p>로그인화면 테스트</p>
    <input type="text" id="id" placeholder="아이디"><br>
    <input type="password" id="pwd" placeholder="패스워드"><br>
    <input type="button" id="btn" value="로그인">
</body>
</html>